<html>
  <body>
    <div class="header">
      <div class="container">
          <h1 class="h1-apartados">Votación</h1>
      </div>  
    </div>
    <div class="container">
      <div class="form">
        <div class="container">
          <div class="row">
            <div class="col-md-9 ">
              <mat-form-field >
                <input matInput placeholder="Buscar evento" [(ngModel)]="entrada" (keyup.enter)="buscar()">
              </mat-form-field>
              <button mat-mini-fab color="primary" style="background: #2E3238" 
                (click)="buscar()"
                matTooltip="Buscar evento"><mat-icon>search</mat-icon></button>
            </div>
            <div class="col-3" >
              <button mat-raised-button color="primary" style="background: #2E3238; width: 100%" routerLink="/ceevento"
                matTooltip="Crear evento">+ Nuevo</button>
            </div>  
          </div>
        </div>
        <!--Lista de elementos-->
        <div class="container" >
            <br>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  </tr>
                </tbody>
            </table>
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
              
              <mat-accordion>
              
                  <mat-expansion-panel *ngFor="let evento of listaEventos">
                    <!--Titulos-->
                    
                    <mat-expansion-panel-header>
                      <table style="width: 100%">
                        <thead>
                          <th style="width: 20%">
                            <mat-panel-title>
                              {{evento._id}}
                            </mat-panel-title>
                          </th>
                          <th style="width: 40%">
                            <mat-panel-description>
                              {{evento.nombre_ev}}
                            </mat-panel-description>
                          </th>
                          <th style="width: 30%">
                            <mat-panel-description>
                              <div *ngIf="indentificarEstado(evento.estado)==='A'; else espera;">
                                <mat-icon style="color: green;" matTooltip="Activo">play_circle_filled</mat-icon>
                              </div>
                            </mat-panel-description>
                          </th>
                        </thead>
                      </table>
                      
                      
                      
                    </mat-expansion-panel-header>
                    <!--campos del desplegable-->
                      <p>Descripcion: {{evento.descripcion}}</p>
                      <div class="row">
                        <div class="col-sm-6">Fecha de Inicio: {{evento.fecha_i.substring(0, 10)}} ---- {{evento.fecha_i.substring(11, 16)}} Hrs.</div>
                        <div class="col-sm-6">Fecha Fin: {{evento.fecha_f.substring(0, 10)}} ---- {{evento.fecha_f.substring(11, 16)}} Hrs.</div>
                      </div>
                      <mat-divider style="margin-bottom: 2%; margin-top: 2%"></mat-divider>
                      <button class="button-size" mat-raised-button color="primary" routerLink="/moga/resumen-votacion/{{evento._id}}"
                        matTooltip="Información del evento">Acceder</button>
                      <button class="button-size" mat-raised-button color="primary" routerLink="/editar-evento/{{evento._id}}/1" 
                        [disabled]="!(evento.estado==='E')"
                        matTooltip="Editar evento">Editar</button>
                      <button class="button-size-terminar" mat-raised-button color="primary"  
                        [disabled]="!(evento.estado==='A')"
                        matTooltip="Terminar evento"
                        (click)="terminarDialog(evento)">Terminar</button>
                      
                      
                  </mat-expansion-panel>
                </mat-accordion>
            </cdk-virtual-scroll-viewport>  
        </div>
        <br>
        <div class="container" >
          <mat-form-field >
            <mat-select placeholder="Mostrar"  name="mostrar" [(ngModel)]="mostrar">
              <mat-option value="Z" >Todo</mat-option>
              <mat-option value="A">Activos</mat-option>
              <mat-option value="E">En espera</mat-option>
              <mat-option value="T">Terminados</mat-option>
            </mat-select>
            
          </mat-form-field>
          
          <br>
          <button class="button-size" mat-raised-button color="primary" style="background: #2E3238" (click)="opcionMostrar()">Mostrar</button>
        </div>
      </div>
    </div>
    
    <br>
    
    <div class="footer" ></div>
  </body>
</html>
  <ng-template #espera>
    <div *ngIf="estado==='E';else terminado;">
      <mat-icon style="color: blue;" matTooltip="En espera">pause_circle_filled</mat-icon>
    </div>
  </ng-template>
  <ng-template #terminado>
      <div *ngIf="estado==='T';">
        <mat-icon style="color: red;" matTooltip="Terminado">stop</mat-icon>
      </div>
  </ng-template>


