<html>
  <body>
    <div class="header">
      <div class="container">
          <h1 class="h1-apartados">EVENTOS</h1>
      </div>  
    </div>
    <div style="padding-top: 3%"></div>
    <div class="container">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
              <div class="container"><button mat-raised-button  class="button-op" routerLink="/moga/votaciones">Votación</button></div>
              <h4>Descripcion: </h4>
              <p>Tipo de evento en el que se administran actividades de votación. Tiene propiedades como: definir participantes en la eleccion, registrar a los votantes, visualizar un resumen del evento, etc.</p>
          </div>
          <div class="col-lg-6">
              <div class="container"><button mat-raised-button  class="button-op">Registro</button></div>
              <h4>Descripcion: </h4>
              <p>Tipo de evento en el que se administran actividades de tipo registro. Posee propiedades como: definir actividades internas en cada evento, registrar participantes, visualizar un resumen del evento, etc.</p>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top: 2%"></div>
    <div class="footer"></div>
  </body>  
</html>




