<h1 mat-dialog-title>Información</h1>
<div mat-dialog-content>
  <div>
      <label>Máquina: {{maquina}}</label>
  </div>
  <div *ngIf="!showP; else showPass">
      <label>Password: ************</label>
      <a (click)="showHidePassword()" style="margin-left: 5%">
          <mat-icon>remove_red_eye</mat-icon>
        </a>
  </div>
  <ng-template #showPass>
      <label>Password: {{password}}</label>
      <a (click)="showHidePassword()" style="margin-left: 5%">
          <mat-icon style="color: blue">remove_red_eye</mat-icon>
        </a>
  </ng-template>
  
  
</div>
<div mat-dialog-actions>
  
  <button mat-raised-button color="primary" (click)="onNoClick()">OK</button>
  
</div>
