<div class="header">
  <div class="container"><h1 class="h1-apartados">Usuarios</h1></div>
</div>

<div class="container">
  <div class="form">
    <mat-form-field >
      <input matInput placeholder="Buscar usuario" [(ngModel)]="id" (keyup.enter)="buscar()">
    </mat-form-field>
    <button mat-mini-fab color="primary"  style="background: #2E3238" 
      (click)="buscar()"
      matTooltip="Buscar usuario"><mat-icon>search</mat-icon></button>
    <label *ngIf="ferror" style="margin-left: 2%">*No se ha encontrado algún registro con ese identificador.</label>
    <div class="row">
      <div class="col-md-6">
        <label>Nombres: {{nombres}}</label>
      </div>
      <div class="col-md-6">
        <label>Apellidos: {{apellidos}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>ID: {{idUser}}</label>
      </div>
      <div class="col-md-6">
        <label>Correo: {{correo}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Rol: {{rol}}</label>
      </div>
    </div>
    <br>
    <h5>Definir como:</h5>
    <button class="button-size" mat-raised-button color="primary" (click)="agregarAdministrador(1)" 
      [disabled]="fusuario"
      matTooltip="Crear administrador global">Administrador</button>
    <button class="button-size" mat-raised-button color="primary" (click)="agregarAdministrador(2)" 
      [disabled]="fusuario"
      matTooltip="Crear administrador especial">Admin. Especial</button>
    <button class="button-size" mat-raised-button color="primary" (click)="limpiarInformacion()" 
      [disabled]="fcancelar"
      matTooltip="Cancelar acciones">Cancelar</button>

    <mat-divider style="margin-bottom: 2%; margin-top: 2%"></mat-divider>
    <h4>Administradores</h4>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 20%">ID</th>
          <th scope="col" style="width: 45%">Nombre</th>
          <th scope="col" style="width: 20%">Tipo</th>
          <th scope="col" style="width: 15%">Opciones</th>
        </tr>
      </thead>
    </table>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport-principal">
      <table class="table">
          <tbody>
            <tr *ngFor="let admin of administradores">
              <td style="width: 20%">{{admin._id}}</td>
              <td style="width: 45%">{{admin['nombres']}}</td>
              <td style="width: 20%">{{identificarRol(admin.rol)}}</td>
              <td style="width: 15%">
                <a (click)="infoAdminDialog(admin._id, admin['nombres'], identificarRol(admin.rol), admin['eventos'], admin.rol)" >
                  <mat-icon matTooltip="Información">info</mat-icon>
                </a>
                <a (click)="openDialog(admin._id, admin['nombres'], identificarRol(admin.rol))">
                  <mat-icon matTooltip="Eliminar administrador">delete</mat-icon>
                </a>
                
              </td>
            </tr>
          </tbody>
      </table>
    </cdk-virtual-scroll-viewport>

  </div>

</div>
  
  
