<div class="header">
    <div class="container"><h1 class="h1-apartados">Registro</h1></div>
  </div>
<div class="container">
  <div>
    <div class="form">
      <h4>Registrar nuevo usuario</h4>
      <form [formGroup]="formGroup">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Nombres del usuario" formControlName="nombres" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Apellidos del usuario" formControlName="apellidos" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="ID del usuario" formControlName="idUsuario" required>
              
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput  type="email" placeholder="Correo del usuario" formControlName="correo">
            </mat-form-field>
          </div>
          
        </div>
        <div class="row">
          <div class="col-6">
            <button mat-raised-button color="primary" style="background: #2E3238;margin-right: 1%" 
              (click)="guardarUsuario()"
              matTooltip="Guardar datos">Guardar</button>
            <button mat-raised-button color="primary" style="background: #2E3238" 
              (click)="limpiarCampos()"
              matTooltip="Limpiar campos">{{opCancelar}}</button>
          </div>
          <div class="col-6">
            <button mat-raised-button color="primary" style="background: #2E3238; margin-right: 1%" (click)="importDialog()">Cargar datos</button>
          </div>
        </div>
        
        
      </form>
      
      <mat-divider style="margin-top: 2%"></mat-divider>
      <div style="margin-bottom: 2%">
          <mat-form-field >
            <input matInput placeholder="Buscar usuario" [(ngModel)]="id" (keyup.enter)="buscar()">
          </mat-form-field>
          <button mat-mini-fab color="primary"  style="background: #2E3238" 
            (click)="buscar()" 
            matTooltip="Buscar registro"><mat-icon>search</mat-icon></button>
          <label *ngIf="ferror" style="margin-left: 2%">*No se ha encontrado algún registro con ese identificador.</label>
          <div class="row">
            <div class="col-md-6">
              <label>Nombres: {{nombres}}</label>
            </div>
            <div class="col-md-6">
              <label>Apellidos: {{apellidos}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>ID: {{idUser}}</label>
            </div>
            <div class="col-md-6">
              <label>Correo: {{correo}}</label>
            </div>
          </div>
          <br>
          <button class="button-size" mat-raised-button color="primary" 
            (click)="editarRegistro()" 
            [disabled]="fusuario"
            matTooltip="Editar registro">Editar</button>
          <button class="button-size" mat-raised-button color="primary" 
            (click)="eliminarRegistro()" 
            [disabled]="fusuario"
            matTooltip="Eliminar registro">Eliminar</button>
          <button class="button-size" mat-raised-button color="primary" 
            (click)="limpiarInformacion()" 
            [disabled]="fusuario"
            matTooltip="Cancelar acciones">Cancelar</button>
      </div>

      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-lg-5">
          <div style="margin-top: 2%">
            <h4>Cargar imagen</h4>
            <div *ngIf="opUpload == 0 || opUpload == 2"><img style="width: 225px; height: 225px; margin-bottom: 1%" [src]="imgSrc"></div>
            <div *ngIf="opUpload == 1">
              <mat-spinner ></mat-spinner>
            </div>
            <input #imageIn type="file" accept="image/*" (change)="showPreview($event)">
          </div>
          <button mat-raised-button color="primary" class="button-size" style="width: 140px; margin-top: 2%" 
            (click)="uploadImage()" 
            [disabled]="fSelected">Subir imagen</button>
          <mat-icon style="color: green; font-size: 35px" *ngIf="opUpload == 2">done_outline</mat-icon>
        </div>
        <div class="col-lg-7">
          <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport-principal">
            <div class="row">
              <div class="col-md-4 col-sm-6" *ngFor="let img of imagenes">
                <mat-card class="example-card" >
                  <img class="imagen-show" [src]="img.imagen" >
                  <mat-card-actions>
                    <button mat-raised-button color="primary" class="button-size" 
                    style="width: 100%; margin: 2%" (click)="eliminarImagenDialog(img)">Eliminar</button>                  
                  </mat-card-actions>
                </mat-card>
              </div>

            </div>
              
            
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
      
      
    </div>
    
  </div>

  
</div>
<div class="footer" style="margin-top: 2%"></div>
