<h3 >Terminar evento</h3>
<mat-divider style="margin-bottom: 2%; margin-top: 2%"></mat-divider>
<p>Seguro que quiere terminar el siguiente evento:</p>
<p>
    - ID: {{id}}
    <br>
    - Nombre: {{nombre}}
</p>
<mat-divider style="margin-bottom: 2%; margin-top: 2%"></mat-divider>
<button mat-raised-button color="primary" style="margin-right: 2%; width: 100px;" (click)="onYesClick()">Si</button>
<button mat-raised-button color="primary" style="margin-right: 2%; width: 100px;" (click)="onNoClick()">Cancelar</button>