<html>
  <body>
    <div class="body">
      <div class="container" style="padding-top: 2%; margin-bottom: 2%">
        <button mat-raised-button color="primary" (click)="anterior()">Anterior</button>
        <span class="float-right"><button mat-raised-button color="primary" (click)="siguiente()">Siguiente</button></span>
      </div>
      
      <div class="container"  *ngFor="let rol of rolShow">
        <div>
          <button mat-fab color="primary" (click)="actualizar()" style=""><mat-icon>refresh</mat-icon></button>
          <label style="color: white; margin-left: 3%; font-size: 45px">{{rol.rol}}</label>
          
        </div>
        
        <div class="row">
          <div class="col-md-6"  style="margin-top: 2%" *ngFor="let candidato of rol.arreglo">
            <div class="form">
              <div class="offset-1"><h3>{{candidato.nombres}} {{candidato.apellidos}}</h3></div>
              <div class="row">
                  <div class="col-6"><img [src]="candidato.imagen" style="width: 130%; height: 110%;"></div>
                  <div class="col-6 " style="padding: 15%; padding-left: 20%"><h4>{{candidato.votos}}</h4></div>
              </div>
            </div>
            
          </div>
          
        </div>

      </div>
      <div style="padding-top: 3%"></div>
    </div>
  </body>
</html>