<h3>Cambiar contraseña</h3>
<mat-divider style="margin-bottom: 2%; margin-top: 2%"></mat-divider>
<h5>Para cambiar la contraseña debe cumplir con <br>los siguientes requerimientos:</h5>
<form [formGroup]="formGroup">
  <mat-form-field style="margin-left: 5%; font-size: 20px; width: 75%">
    <input matInput [type]="tipo1" placeholder="Contraseña actual" formControlName="passActual" required>
  </mat-form-field>
  <a (click)="showHidePassword1()" *ngIf="!fpass1; else show">
    <mat-icon>remove_red_eye</mat-icon>
  </a>
  <ng-template #show>
    <a (click)="showHidePassword1()">
      <mat-icon style="color: blue">remove_red_eye</mat-icon>
    </a>
  </ng-template><br>

  <mat-form-field style="margin-left: 5%; font-size: 20px; width: 75%">
    <input matInput [type]="tipo2" placeholder="Nueva contraseña" formControlName="passNuevo" required>
  </mat-form-field >
  <a (click)="showHidePassword2()" *ngIf="!fpass2; else show2">
    <mat-icon>remove_red_eye</mat-icon>
  </a>
  <ng-template #show2>
    <a (click)="showHidePassword2()">
      <mat-icon style="color: blue">remove_red_eye</mat-icon>
    </a>
  </ng-template><br>

  <mat-form-field style="margin-left: 5%; font-size: 20px; width: 75%">
    <input matInput [type]="tipo3" placeholder="Repita la contraseña" formControlName="passValidar" required>
  </mat-form-field>
  <a (click)="showHidePassword3()" *ngIf="!fpass3; else show3">
      <mat-icon>remove_red_eye</mat-icon>
    </a>
    <ng-template #show3>
      <a (click)="showHidePassword3()">
        <mat-icon style="color: blue">remove_red_eye</mat-icon>
      </a>
    </ng-template><br>
    <div *ngIf="fload">
        <mat-spinner [diameter]="50" style="margin-left: 45%"></mat-spinner>
    </div>
    <div *ngIf="fcarga">
        <mat-icon style="margin-left: 45%; color: green">check_circle</mat-icon>
    </div>
    <div *ngIf="ferror1 || ferror2">
        <mat-icon style="margin-left: 45%; color: red">error</mat-icon>
    </div>
    {{mensaje}}
    <mat-divider style="margin-bottom: 10px"></mat-divider>
    <div>
        <button mat-raised-button color="primary" style="margin-right: 1%; width: 100px" (click)="cambiarPassword()">Cambiar</button>
        <button mat-raised-button color="primary" style="margin-right: 1%; width: 100px" (click)="onNoClick()">Cancelar</button>
    </div>
</form>
